.parent_div_container_3 {
    position: relative;
    display: flex;
    align-content: stretch;
    width: 100%;
}

.child-camera-1,
.child-camera-2 {
    position: relative;
    width: 50%;
}

#vid-show,
#vid-canvas,
#vid-take {
    margin-bottom: 20px;
}

#vid-show {
    width: 500px;
    transform: rotateY(180deg);
}

.vidclass {
    position: relative;
    width: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
}