footer {
	background-color: #000;
	color: #9b9b9b;
	font-size: 12px;
	-webkit-font-smoothing: auto;
	position: fixed;
	bottom: 0;
	padding: 2% 0;
	width: 100%;
	font-family: Graphik, Helvetica, sans-serif;
	font-size: 12px;
	color: #9b9b9b;
	display: block;
}

.footer-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.footer-container a {
	text-decoration:none;
	color: 9b9b9b;
}