body {
    background-color: rgb(58, 50, 50);
}

#button-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(13, 139, 129);
}

.slide-container {
    max-width: calc(100% - 100px);
    width: 1000px;
    position: relative;
    margin: auto;
}

#images-slideshow {
    width: 100%;
    height: 500px;
    margin: 0;
    opacity: 1;
    transition: opacity 1s;
}

#images-slideshow.fadeOut {
    opacity: 0;
}

#current-slide-number {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 25px;
    color: rgb(77, 63, 63);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20px;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 242, 242, 0.8);
}

.dot {
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: rgb(199, 172, 172);
    border-radius: 50%;
    margin-left: 5px;
    top: 95%;
    left: 50%;
}

.dot:hover {
    background-color: #000000;
}

#date {
    background-color: brown;
}