ul {
	list-style: none;
	text-align: left;
	margin-left: 200px;
	;
}

#profil {
	margin-left: 25px;
	margin-top: 25px;
	float: left;
	height: 150px;
	width: 150px;
}

#box_profil {
	background-color: lightgrey;
	box-shadow: 15px 15px 10px black;
	border-radius: 10px;
	height: 200px;
	width: 600px;
}

#info {
	margin-top: -20px;
}

#remove {
	width: 2vw;
	height: 2vw;
	position: relative;
	top: -7.5vw;
	right: 2.5vw;
}